.loader-container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    min-height:60vh;
}

.loader{
    width:65px;
    height:65px;
    border:6px solid #e5e7eb;
    border-top:6px solid #2563eb;
    border-radius:50%;
    animation:spin 0.8s linear infinite;
    margin-bottom:20px;
}

.loader-container h2{
    color:#64748b;
    font-size:22px;
    font-weight:600;
}

@keyframes spin{
    100%{
        transform:rotate(360deg);
    }
}